*.gitignore filter=lfs diff=lfs merge=lfs -text
/Procfile filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
mlmodels/sentence_model.sav filter=lfs diff=lfs merge=lfs -text
